/* Responsiveness */

@media (max-width: 768px) {

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero h2 {
        font-size: 1.2rem;
    }

    .navbar {
        padding: 15px 5%;
    }

    .section {
        padding: 80px 5%;
    }
}
