/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0b0f19;
    color: #ffffff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
    position: sticky;
    top: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #6366f1;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero h2 {
    color: #6366f1;
    margin: 10px 0;
}

.hero-buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.primary-btn {
    background: #6366f1;
    color: white;
}

.secondary-btn {
    border: 1px solid #6366f1;
    color: #6366f1;
}

/* SECTIONS */
.section {
    padding: 100px 10%;
    text-align: center;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #111827;
}