/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #0b0f19;
    color: #e5e7eb;
    line-height: 1.7;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: rgba(15, 23, 42, 0.7);;
    position: sticky;
    top: 0;
    backdrop-filter: blur(12px);
    background: rgba(15, 23, 42, 0.7);
    border-bottom: 1px solid var(--glass-border);
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
     position: relative;

}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #6366f1;
}

:root {
    --primary: #6366f1;
    --secondary: #22d3ee;
    --bg-dark: #0b0f19;
    --card-bg: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.1);
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: var(--primary);
    transition: 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    background: radial-gradient(circle at top right, rgba(99,102,241,0.2), transparent 40%);
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero h2 {
    font-size: 1.8rem;
    font-weight: 600;

    background: linear-gradient(90deg, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    margin: 15px 0;
}

/* Skills */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.skills-card {
    padding: 30px;
    border-radius: 15px;
    background: var(--card-bg);
    border: 1px solid var(--glass-border);
    backdrop-filter: blur(10px);
}

.skills-card h3 {
    margin-bottom: 20px;
    color: var(--primary);
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.progress {
    width: 100%;
    height: 8px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    transition: width 1.5s ease;
}
/* Buttons */
.btn {
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease;
}

.primary-btn {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: white;
}

.primary-btn:hover {
    transform: translateY(-3px);
}

.secondary-btn {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.secondary-btn:hover {
    background: var(--primary);
    color: white;
}
.hero-buttons {
    margin-top: 30px;
}


/* SECTIONS */
.section {
    padding: 120px 10%;
    text-align: center;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #111827;
}

/* Responsiveness */

@media (max-width: 768px) {

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero h2 {
        font-size: 1.2rem;
    }

    .navbar {
        padding: 15px 5%;
    }

    .section {
        padding: 80px 5%;
    }
}

/* Animation */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* project card */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.project-card {
    background: var(--card-bg);
    padding: 25px;
    border-radius: 15px;
    border: 1px solid var(--glass-border);
    transition: 0.3s ease;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-8px);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111827;
    padding: 40px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
}